<div class="center-form mt-5">
  <%= simple_form_for @product do |f| %>

      <%= f.label :name, "Product Name" %>
      <%= f.input :name, placeholder: "Enter product name"%>



      <%= f.label :description %>
      <%= f.input :description %>



      <%= f.label :price %>
      <%= f.input :price, as: :integer %>



      <%= f.label :photo %>
      <%= f.input :photo, as: :file, input_html: { class: "custom-file-input" } %>

    <div class="d-flex justify-content-between align-items-center">
      <%= f.button :submit, class: 'btn btn-success' do %>
        <i class="fas fa-check"></i> Save Changes
      <% end %>

      <%= link_to product_path, class: 'btn btn-warning' do %>
        <i class="fas fa-times"></i> Cancel Edit
      <% end %>
    </div>
  <% end %>
</div>
