<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center">Sell Details</h2>

      <% if @sell %>
        <div class="card mb-2">
          <div class="card-body">
            <h6 class="card-title">
              <%= "Sell ID: #{@sell.id}" %><br>
              <% total_sell_price = 0 %>
              <% @sell.products.each do |product| %>
                <%= "#{product.name.capitalize} - $#{product.price}" %><br>
                <% total_sell_price += product.price %>
              <% end %>
              <p>Total Sell Price: <%= number_to_currency(total_sell_price, unit: '$', precision: 2) %></p>
            </h6>
            <p class="card-text">
              <span class="float-left">
                <% if @sell.created_at.present? %>
                  Comprado el: <%= @sell.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
                <% else %>
                  Comprado el: N/A
                <% end %>
              </span>
            </p>
          </div>
        </div>
      <% else %>
        <p>Sell not found.</p>
      <% end %>

      <div class='container'>
        <%= link_to products_path, class: 'btn btn-success mb-2 text-center' do %>
          <i class="fas fa-cart-arrow-down"></i> Back to List
        <% end %>
      </div>
    </div>
  </div>
</div>
