<div class="container mt-5" data-controller="hello">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Sell Details</h2>
        </div>
        <% if @sell %>
          <div class="card-body" id="print" data-sell-id="<%= @sell.id %>">
            <h6 class="card-title">
              <%= "Sell ID: #{@sell.id}" %><br>
              <% total_sell_price = @sell.products.sum(&:price) %>
              <% @sell.products.each do |product| %>
                <%= "#{product.name.capitalize} - $#{product.price}" %><br>
              <% end %>
              <p>Total Sell Price: <%= number_to_currency(total_sell_price, unit: '$', precision: 2) %></p>
            </h6>
            <p class="card-text">
              <span class="float-left">
                <% if @sell.created_at.present? %>
                  Comprado el: <%= @sell.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
                <% else %>
                  Comprado el: N/A
                <% end %>
              </span>
            </p>
          </div>
        <% else %>
          <div class="card-body">
            <p class="card-text">Sell not found.</p>
          </div>
        <% end %>
        <div class="card-footer text-center">
          <button data-action="click->hello#generatePDF" class="btn btn-primary">Download PDF</button>
        </div>
      </div>
      <div class='container'>
        <%= link_to products_path, class: 'btn btn-success mt-2 text-center' do %>
          <i class="fas fa-cart-arrow-down"></i> Back to List
        <% end %>
      </div>
    </div>
  </div>
</div>
